{% extends "base.html" %}

{% block title %}{{ site.title }}{% endblock %}

{% block content %}
    <div id="title">{{ site.title }}</div>
    <ul>
      {% for category_name, pages in structure.iteritems() %}
          {%- for page_file, page_metadata in pages.iteritems() %}
              {% if site.default_ext in page_file %}
      <li class="pagelist"><a href="./content/{{ category_name }}/{{ page_metadata.name }}.html">{{ page_metadata.title }}</a></li>
              {% endif %}
          {%- endfor %}
      {% endfor %}
    </ul>
{% endblock %}
